[submodule "apps/funread"]
	path = apps/funread
	url = https://github.com/farfarfun/funread.git
[submodule "apps/funread-dat"]
	path = apps/funread-dat
	url = https://github.com/farfarfun/funread-dat.git
[submodule "apps/funread-web"]
	path = apps/funread-web
	url = https://github.com/farfarfun/funread-web.git
